<!-- <div class="container">
<table class="table table-bordered table-striped">
<thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone No.</th>
    </tr>
</thead>
<tbody>
<tr *ngFor="let users of users">
<td><span>{{users.Id}}</span></td>
<td><span>{{users.FirstName}}</span></td>
<td><span>{{users.LastName}}</span></td>
<td><span>{{users.Email}}</span></td>
<td><span>{{users.PhoneNumber}}</span></td>
</tr>
</tbody>
</table>
</div> -->