<div class="container-fluid mt-5">
    <div class="row">

        <div class="card col" style="width: 18rem;">
            <img class="card-img-top" src="https://cdn3.iconfinder.com/data/icons/user-group-black/100/user-process-512.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Profile</h5>
              <button type="button" class="btn btn-primary">View Profile</button>
            </div>
          </div>
          <div class="card col" style="width: 18rem;">
            <img class="card-img-top" src="https://st2.depositphotos.com/1954927/6872/v/600/depositphotos_68722965-stock-illustration-flat-avatar-icons-business-concept.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Users</h5>
              <button type="button" class="btn btn-primary">View Users</button>
            </div>
            
          </div>
          <div class="card col" style="width: 18rem;">
            <img class="card-img-top justify-content-even" src="https://cdn1.iconfinder.com/data/icons/hotel-building/68/hotel_menu-512.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Menu</h5>
              <button type="button" class="btn btn-primary">View Menu</button>

            </div>
          </div>
          <div class="card col" style="width: 18rem;">
            <img class="card-img-top" src="https://scontent-maa2-2.xx.fbcdn.net/v/t1.6435-9/70498448_2799172143435097_7878898886381666304_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=qzoR2JDhefEAX9zlK0c&_nc_ht=scontent-maa2-2.xx&oh=00_AfAWhZLbADkiUhB17tuGW281KyWma-PRE1Z8tJI1wXwAWA&oe=63C4E484" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Transaction</h5>
              <button type="button" class="btn btn-primary">View Transaction</button>
            </div>
          </div>
    </div>
</div>
